<img src="assets/pop.jpg" *ngIf="genre == 'pop'">
<img src="assets/rock.jpg" *ngIf="genre == 'rock'">
<img src="assets/hiphop.jpg" *ngIf="genre == 'hiphop'">
<img src="assets/instrumental.jpg" *ngIf="genre == 'instrumental'">
