<mat-toolbar color="primary">
  <h1>
    Neural Network Demo Application
  </h1>
  <button mat-button routerLink="home">Home</button>
  <button mat-button routerLink="predictor">Predict A Song</button>
</mat-toolbar>

