.border-custom {
  border-bottom: 0.1rem solid black;
  border-radius: 1%;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs .tab {
  margin-right: 20%;
  margin-left: 20%;
}

.title {
  font-family: cursive;
  font-size: xx-large;
  position: relative;
  justify-content: center;
  display: flex;
  margin-bottom: 0;
}
