<div class="title">
  <h1>Welcome to the song genre prediction page!</h1>
  <p>In here you can view the current state of the model and the number of songs in the training dataset!</p>
</div>




<div class="data">
<table >
  <tr>
    <th>Neurons in input layer</th>
    <th>Neurons in hidden layer</th>
    <th>Neurons in output layer</th>
  </tr>
  <tr>
    <td>25</td>
    <td>33</td>
    <td>4</td>
  </tr>
  <tr>
    <th>HipHop Songs Count</th>
    <th>Instrumental Songs Count</th>
    <th>Rock Songs Count</th>
    <th>Pop Songs Count</th>
    <th>Total Songs Count</th>
  </tr>
  <tr>
    <td> {{data.hiphop_count}}</td>
    <td> {{data.instrumental_count}}</td>
    <td>{{data.rock_count}}</td>
    <td>{{data.pop_count}}</td>
    <td>{{data.dataset_size}}</td>
  </tr>
  <tr>
    <th>Accuracy</th>
    <th>Precision</th>
    <th>Recall</th>
  </tr>
  <tr>
    <td>{{data.accuracy}}%</td>
    <td>{{data.precision}}%</td>
    <td>{{data.recall}}%</td>
  </tr>
</table>
</div>
