.title{
  display: grid;
  justify-content: center;
}


.title p{
  font-size: large;
  color: maroon;
  font-variant-caps: all-small-caps;
}
.data{
  display: grid;
  position: relative;
  justify-content: center;

}

.data table{
  border: 0.2em solid;
padding: 1em;
}
