
  <div class="title">
    <h1>Welcome to the song genre prediction page!</h1>
    <h2>How to use the predictor: </h2>
    <p>1. Select the song you wish to predict</p>
    <p>2. Wait for upload and processing.</p>
    <p>3. You will be redirected to the result page once the prediction is over.</p>
  </div>


  <div class="bar">
    <mat-card class="mat-card-0">
      <mat-card-content>
        <ul>
          <li *ngFor="let file of files">
            <mat-progress-bar [value]="file.progress"></mat-progress-bar>
            <span id="file-label">{{file.data.name}}</span>
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="onClick()">
          <mat-icon>file_upload</mat-icon>
          Upload
        </button>
      </mat-card-actions>
    </mat-card>
    <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="audio/*"
           style="display:none;"/></div>

